.banner-marketing {
  position: fixed;
  z-index: 2;
  top: 20%;
  right: -360px;
  bottom: 50%;
  -webkit-transition: right 0.5s ease;
  transition: right 0.5s ease;
  text-transform: none;
}
.banner-marketing .deadly {
  position: absolute;
  left: -53px;
  display: inline-block;
  width: 55px;
  cursor: pointer;
  text-align: center;
  color: #8b9daa;
  background-color: #2ea8df;
  border-right: none;
  border-radius: 7px 0 0 7px;
  overflow: hidden;
  box-shadow: -2px 0 15px -6px #000;
}
.banner-marketing .deadly h3 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 1.4;
  margin: 0;
  color: #fff;
}
.banner-marketing .deadly p {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 26px;
  margin: 0;
  letter-spacing: 0.25px;
}
.banner-marketing .deadly img {
  width: 100%;
}
.banner-marketing .deadly .banner-marketing-text {
  padding: 1px 20px 10px 0;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode: tb-rl;
  writing-mode: tb-rl;
  text-align: right;
  font-family: HelveticaNeueCyr, Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 700;
  line-height: 1.4;
  margin: 0;
  color: #fff;
  text-transform: uppercase;
}
.banner-marketing .deadly .sm-icon {
  padding: 9px;
}
.banner-marketing.is-visible {
  right: 0;
}
.marketing-content {
  margin: auto;
  padding: 0;
  cursor: pointer;
  text-align: center;
  color: #fff;
  background: #e7f4fc;
  height: 224px;
  background: #fff;
  color: #000;
  max-width: 365px;
  padding: 0 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.marketing-content .sign-up-btn {
  margin: auto;
  height: 40px;
  line-height: 40px;
  font-size: 17px;
  font-weight: 700;
  padding: 0;
}
.marketing-content .close-buttons {
  margin: auto;
  color: #8b9daa;
  width: 100%;
}
.marketing-content .close-buttons button {
  border: none;
  background: 0 0;
  text-decoration: underline;
  font-size: 16px;
}
.marketing-content .close-buttons button:hover {
  text-decoration: none;
}
.marketing-content p {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 15px;
  margin-top: auto;
  margin-bottom: 24px;
  line-height: 1.25;
  letter-spacing: 0.25px;
}
.is-hide {
  display: none;
}
.mobile-banner-button {
  position: fixed;
  right: 20px;
  bottom: 95px;
  z-index: 2;
}
